[Unit]
Description=Update dotfiles git repository

[Service]
ExecStart=/usr/bin/ansible-playbook {{ playbook }}
WorkingDirectory={{ workdir | expanduser }}

[Install]
WantedBy=multi-user.target
