[Unit]
Description=Run Ansible playbook which controls the universe.

[Service]
ExecStart=/usr/bin/make {{ target }}
WorkingDirectory={{ workdir | expanduser }}

[Install]
WantedBy=multi-user.target
