[Unit]
Description=Update dotfiles git repository

[Service]
ExecStart=/bin/bash -c " \
    set -ex ; \
    cd ~/.dotfiles && \
    git pull --rebase"

[Install]
WantedBy=multi-user.target
